%body
  %p#notice= notice
  %h1 Movies
  %table
    %tr
      %th Title
      %th Rating
      %th Genres
      %th Casts
      %th Synopsis
      %th Runtime
      %th Release date
      %th Img url
      %th{colspan: "3"}
    - if @movies.present?
      - @movies.each do |movie|
        %tr
          %td= movie.title
          %td= movie.rating
          %td= movie.genres
          %td= movie.casts
          %td= movie.synopsis
          %td= movie.runtime
          %td= movie.release_date
          %td= movie.img_url
          %td= link_to 'Show', movie
          %td= link_to 'Edit', edit_movie_path(movie)
          %td= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' }
    - else
      %p No movies added yet!
  %br/
  = link_to 'New Movie', new_movie_path