.album
  .container
    .row
      .col-sm-4
        %img.img-fluid{src: @movie.img_path, alt: "Poster"}
      .col-sm-8
        %h1#title.textborder
          = @movie.title
          -# Registered user only features
          -if not current_user.present?
          -elsif not current_user.movies.exists?(id: @movie.id)
            %button#button.btn.btn-default.btn-lg
              Add to seen list
          -elsif not current_user.favourite_movies.exists?(api_id: @movie.api_id) 
            %span= link_to '', favourite_movies_path(id: @movie.api_id), method: :post, class: 'glyphicon glyphicon-star-empty'
          -else 
            %span= link_to '', favourite_movie_path(id: @movie.api_id), method: :delete, class: 'glyphicon glyphicon-star'
        %h4.textborder= @movie.tagline
        %br
        #addmovie{hidden: ''}
          = form_with url: movies_path do |f|
            #rating
              =hidden_field_tag 'id', @movie.id
              %input#submit.btn.btn-default{type: 'submit', value: 'Submit rating'}
        %br
        %p.textborder= @movie.synopsis
        %br
        %p 
          Genre:
          %span.badge.alert-info= "#{@movie.genres}"
        %p
          Release Date:
          %span.badge.alert-warning= "#{@movie.release_date}"
        %p
          Runtime:
          %span.badge.alert-danger= "#{@movie.runtime} minutes"
        %p
          Average rating: 
          %span.badge= "#{@movie.vote_average} / 10"
        -if Movie.exists?(id: @movie.id)
          %p
            Your rating:
            %span.badge.alert-success= "#{@movie.user_rating} / 10"
        %br
        %p Cast:
        .row
          -casts = @movie.casts.split(',')
          -i = 0
          -casts.each do |cast|
            -i += 1
            .col-sm-4
              -if i < 10
                %li= cast
              -else 
                %li.morecast{hidden: ''}= cast
        -if i > 10
          %a#show Show more

:javascript

  // Star rating plugin by Washington Botelho
  $('#rating').raty({
    path: '/assets/',
    half: true,
    number: 10,
    space: false,
    scoreName: 'user_rating'
  });

  // Makes raty stars appear on button click
  $(document).ready(function(){
    $("#button").click(function(){
      $("#addmovie").toggle();
      $("#button").toggle();
    })
  });

  // Form disappears to prevent multiple sumbits while loading
  $(document).ready(function(){
    $("#submit").click(function(){
      $("#addmovie").toggle();
    })
  });

  // Handles show more/less cast
  $(document).ready(function(){
    $("#show").click(function(){
      var text = "Show less"
      if ($(this).html() == "Show less") {
        var text = "Show more"
      }
      $(".morecast").toggle();
      $(this).html(text);
    })
  });