.album
  .container
    .row
      .col-sm-4
        %img{src: "#{@movie.img_path}", alt: "Poster", class: "img-fluid", style: "padding-top:24px"}
      .col-sm-8
        %h1
          %strong
            =@movie.title
            -if not current_user.present?
            -elsif not current_user.movies.exists?(id: @movie.id)
              =  link_to "Add to seen list", movies_path(id: @movie.id), method: :post, class: 'btn btn-default btn-lg'
            -elsif not current_user.favourite_movies.exists?(id: @movie.id) 
              = link_to 'Add to favourites', favourite_movies_path(movie_id: @movie), method: :post
            -else 
              = link_to 'Remove from favourites', favourite_movie_path(@movie), method: :delete
        %h4= @movie.tagline
        %br
        %p= @movie.synopsis
        %br
        %p 
          Genre:
          %strong= @movie.genres
        %p
          Release Date:
          %strong= @movie.release_date
        %p
          Runtime:
          %strong= @movie.runtime
          %strong minutes
        %p
          Average rating: 
          %strong= @movie.vote_average
        %br
        %p Casts:
        .row
          -casts = @movie.casts.split(',')
          -i = 0
          -casts.each do |cast|
            -i += 1
            -if i > 27
              -break
            .col-sm-4
              %li= cast
