<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @movieAPI.title %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @movieAPI.rating %>
</p>

<p>
  <strong>Genres:</strong>
  <%= @movieAPI.genres %>
</p>

<p>
  <strong>Casts:</strong>
  <%= @movieAPI.casts %>
</p>

<p>
  <strong>Synopsis:</strong>
  <%= @movieAPI.synopsis %>
</p>

<p>
  <strong>Runtime:</strong>
  <%= @movieAPI.runtime %>
</p>

<p>
  <strong>Release date:</strong>
  <%= @movieAPI.release_date %>
</p>

<p>
  <strong>Img url:</strong>
  <img src="<%= @movieAPI.image_path%>", alt="Poster" >
</p>

<%= link_to 'Back', movies_path %> |
<%= link_to 'Create', movies_path(:title => @movieAPI.title, :rating => @movieAPI.rating, :genres => @movieAPI.genres, :casts => @movieAPI.casts, :synopsis => @movieAPI.synopsis, :runtime => @movieAPI.runtime, :release_date => @movieAPI.release_date, :img_url => @movieAPI.image_path), :method => :post %>

