%footer.text-muted
  .container-fluid
    .row
      .col-sm-3
        %h4.text-white= t('.about')
        %p= t('.aboutContent')
      .col-sm-2
        %h4.text-white= t('.resources')
        %p 
          = t('.resourcesContent')
          =link_to t('.moviedb'), 'https://www.themoviedb.org/'
      .col-sm-4
        %h4.text-white= t('.disclaimer')
        %p= t('.disclaimerContent')
      .col-sm-1
        %h4.text-white= t('.code')
        =link_to t('.gitlab'), 'https://gitlab.eps.surrey.ac.uk/me00531/me00531_com2025_project'
      .col-sm-2
        %br
        %p.pull-right
          %a#dark-toggle.text-white.text-muted= t('.darkTheme')
          %a.text-white{href: '#'}= t('.backToTop')

