<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= local_assigns[:movie].title %>
</p>

<p>
  <strong>Rating:</strong>
  <%= local_assigns[:movie].rating %>
</p>

<p>
  <strong>Genres:</strong>
  <%= local_assigns[:movie].genres %>
</p>

<p>
  <strong>Casts:</strong>
  <%= local_assigns[:movie].casts %>
</p>

<p>
  <strong>Synopsis:</strong>
  <%= local_assigns[:movie].synopsis %>
</p>

<p>
  <strong>Runtime:</strong>
  <%= local_assigns[:movie].runtime %>
</p>

<p>
  <strong>Release date:</strong>
  <%= local_assigns[:movie].release_date %>
</p>

