%p#notice= notice
%p
  %strong Title:
  = local_assigns[:movie].title
%p
  %strong Rating:
  = local_assigns[:movie].rating
%p
  %strong Genres:
  = local_assigns[:movie].genres
%p
  %strong Casts:
  = local_assigns[:movie].casts
%p
  %strong Synopsis:
  = local_assigns[:movie].synopsis
%p
  %strong Runtime:
  = local_assigns[:movie].runtime
%p
  %strong Release date:
  = local_assigns[:movie].release_date