.album
  .container
    .row
      .col-sm-4
        %img{src: "#{@movie.img_path}", alt: "Poster", class: "img-fluid", style: "padding-top:24px"}
      .col-sm-8
        %h1
          %strong
            =@movie.title
            -if @show #???????????????????????
            -else
              =@createInstance
        %h4= @movie.tagline
        %br
        %p= @movie.synopsis
        %br
        %p 
          Genre:
          %strong= @movie.genres
        %p
          Release Date:
          %strong= @movie.release_date
        %p
          Runtime:
          %strong= @movie.runtime
          %strong minutes
        %p
          Average rating: 
          %strong= @movie.rating
        %br
        %p Casts:
        .row
          -casts = @movie.casts.split(',')
          -i = 0
          -casts.each do |cast|
            -i += 1
            -if i > 27
              -break
            .col-sm-4
              %li= cast
