#dropdownMenu.dropdown
  %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", type: "button"}
    = t('.sortBy')
    %span.caret
  %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1"}
    %li= link_to t('.orderName'), url_for(sort: 'title')
    %li= link_to t('.orderFirst'), url_for(sort: 'created_at')
    %li= link_to t('.orderLast'), url_for(sort: 'created_at DESC')
    %li= link_to t('.orderAverage'), url_for(sort: 'vote_average DESC')
    %li= link_to t('.orderVote'), url_for(sort: 'user_rating DESC')
    %li= link_to  t('.orderId'), url_for(sort: 'api_id')