= image_tag("forms_logo.png", width:90, height:90)

%h1#title= t('.received')

%dl.contact-info
  %dt.section= t('.from')
  %dd= 'Name:  ' + @name
  %dd= 'Email:  ' + @email
  %dd= 'Telephone:  ' + @telephone

%dl.contact-info
  %dt.section= t('.message')
  %dd= @message

