:css
  p{color: red;}

%p= "Dear #{t('app_title')},"
%p= "Could you get in touch with me please? Or not  "
= image_tag("forms_logo.png", width:90, height:90)
%dl
  %dt Name:
  %dd= @name
  %dt Email:
  %dd= @email
  %dt Telephone:
  %dd= @telephone

%p= @message

%p Thanks,
%p= @name

%link{rel:"stylesheet", href:"contact_mailer.css"}
