<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta content="ie=edge" http-equiv="x-ua-compatible"/>
    <title>MovieReview</title>
    <meta name="description" content="Coursework for COM2025">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag  'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render partial: 'shared/header' %>
      <% flash.each do |name, msg| %>
        <%= content_tag(:div, msg, class: "alert alert-info") %>
      <% end %>
    <%= yield %>
  </body>
</html>