!!!
%html
  %head
    %link{href: '/assets/apple-touch-icon.png', rel: 'apple-touch-icon', sizes: '180x180'}
    %link{href: '/assets/favicon-32x32.png', rel: 'icon', sizes: '32x32', type: 'image/png'}
    %link{href: '/assets/favicon-16x16.png', rel: 'icon', sizes: '16x16', type: 'image/png'}
    %link{href: '/assets/site.webmanifest', rel: 'manifest'}
    %link{href: '//db.onlinewebfonts.com/c/c3d58453494fdb4819ddc387b6057cde?family=AGRevueCyr', rel:'stylesheet', type:'text/css'}
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}
    %meta{charset: 'utf-8'}/
    %meta{content: 'ie=edge', 'http-equiv' => 'x-ua-compatible'}
    %title= t('.title')
    %meta{content: 'Coursework for COM2025', name: 'description'}
    %meta{content: 'width=device-width, initial-scale=1', name: 'viewport'}
    = stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag  'application', 'data-turbolinks-track': 'reload'
    = csrf_meta_tags
  %body
    = render partial: 'shared/header'
    #wrap
      #main.container-fluid
        -flash.each do |name, msg|
          = content_tag :div, msg, class: (name == 'notice' ? 'alert alert-info' : 'alert alert-danger')
        = yield
    = render partial: 'shared/footer'